In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [3]:
data = pd.read_csv("student-mat.csv", sep=";")

In [4]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]

In [6]:
predict = "G3"

X = np.array(data.drop([predict], 1)) # Features
y = np.array(data[predict]) # Labels

In [7]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [8]:
linear = linear_model.LinearRegression()

In [9]:
linear.fit(x_train, y_train)
acc = linear.score(x_test, y_test)

In [10]:
print(acc)

0.8085672793651102

In [11]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.15579398  0.96657958 -0.15999208 -0.30395596  0.03298536]
Intercept:
 -1.3595117833562043

In [12]:
predictions = linear.predict(x_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

18.881132378941025 [18 18  1  0  6] 18
7.365463260175906 [8 8 2 0 2] 8
12.014949571805227 [12 12  1  0  2] 11
12.665743088966382 [11 13  2  0  2] 14
12.760282006726408 [14 12  2  0 20] 13
7.832845207311067 [11  8  2  0  2] 8
19.979653410151183 [18 19  1  0 10] 19
10.43334363485464 [13 10  2  1 22] 11
10.826605285656228 [11 11  1  0  0] 10
14.321469322250541 [15 14  2  0  4] 14
17.245060578743022 [16 17  2  0  0] 17
11.449348180904959 [10 12  3  0  4] 12
10.119710524670223 [12 10  2  0  8] 11
14.0014851686675 [15 14  4  0  4] 14
16.354321213466203 [16 16  4  0 12] 16
16.43847307920348 [16 16  1  0  0] 15
8.907513711021933 [10  9  2  0 10] 10
6.068158854409962 [ 7  6  2  0 26] 6
3.9442019515071136 [6 5 1 1 0] 0
19.457558979836367 [19 19  4  0  4] 20
13.519816564518347 [15 13  2  0  9] 15
12.723317627579663 [13 13  4  0  4] 12
11.854957495013707 [12 12  2  0  2] 11
12.977331053723157 [13 13  2  0  2] 13
10.57678995392587 [10 11  2  0  2] 11
5.989076275322961 [7 7 4 0 4] 6
3.864055842481891 [ 6  5  1  3 16] 5
16.18865774747312 [15 16  2  0  2] 16
8.619778273764451 [9 9 2 0 6] 10
8.257675920241153 [10  9  4  0  0] 0
16.0286656706816 [15 16  3  0  2] 18
13.924256196968061 [11 14  1  0  6] 14
15.000313461324122 [14 15  2  0  0] 15
12.82153707134477 [12 13  2  0  2] 13
11.83366768135011 [13 11  3  1 40] 11
10.798554663743804 [11 11  2  0  4] 11
19.170912961626154 [18 18  1  1 24] 18
8.577660073824195 [10  9  2  0  0] 0
8.483638724472222 [10  9  3  0  2] 9
15.222078171142055 [15 15  2  0  2] 16

In [1]:
import matplotlib.pyplot as plt
from matplotlib import style
import pickle